<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>139111823956-oktuqitcgi2jc9152t0fv92l1uabr8mg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.139111823956-oktuqitcgi2jc9152t0fv92l1uabr8mg</string>
	<key>API_KEY</key>
	<string>AIzaSyCJgHgl7Ta5xDGKib6HdXHPSFC2FQ2wwJo</string>
	<key>GCM_SENDER_ID</key>
	<string>139111823956</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>host.exp.exponent</string>
	<key>PROJECT_ID</key>
	<string>tinder-clone-51532</string>
	<key>STORAGE_BUCKET</key>
	<string>tinder-clone-51532.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:139111823956:ios:f7145a597a68bc78d18bc1</string>
</dict>
</plist>